@import "../vars/ag-theme-finance-dark-vars";
@import "../../ag-theme-finance/sass/ag-theme-finance-common";

.ag-theme-finance-dark {
    @include ag-theme-finance($params);

    input,
    select {
        background-color: $odd-row-background-color;
        color: $foreground-color;
    }

    .ag-filter-toolpanel-body {
        background-color: $background-color;
    }
}

